.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin: 20px; /* Adjust overall margin of the grid */
}

.product-item {
  flex: 0 1 calc(23.75%); /* 4 items per row with 5% gap */
  margin-bottom: 20px; /* Spacing between rows */
  text-align: center;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 20px;
  border: none;
}
.product-title {
  font-size: 0.8em; /* Slightly larger text */
  font-weight: 600; /* Semi-bold */
  color: #000; /* Black for better readability */
  margin: 5px 0; /* Space between title and price row */
  text-align: center; /* Center align the title */
  /* padding-top: 10px; */
}

.price-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add space between the prices */
  margin-top: 10px;
}

.regular-price {
  font-size: 0.9em; /* Slightly smaller than sale price */
  color: #999; /* Gray color */
  text-decoration: line-through; /* Strike-through effect */
}

.sale-price {
  font-size: 0.9em; /* Larger than regular price */
  color:red; /* Black for emphasis */
  font-weight: 600; /* Bold for stronger emphasis */
}

.product-image.loaded {
  opacity: 1; /* Fade-in effect */
}

